<!DOCTYPE html>
<html>
  <head>
    <title>Simple-Omniauth-App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Font Awesome 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font -->
    <link href="https://fonts.cdnfonts.com/css/ubuntu" rel="stylesheet">

    <!-- FAV AND ICONS   -->
    <%= favicon_link_tag "favicon.png" %>
  </head>

  <body class="bg-gray-50 dark:bg-slate-900 max-w-full overflow-x-hidden">
    <%= yield %>
    <%= javascript_include_tag "preline" %>
  </body>
</html>
